In [144]:
import pandas as pd
import numpy as np

path = pd.read_excel('C:\\Setup_code\\tempX.xlsx')
df = pd.DataFrame(path)

# dt = pd.date_range('20230501', periods=3)
# df = pd.DataFrame(np.random.randn(3,3), index=dt, columns=list('XYZ'))
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20230502"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

df.sort_index(axis=0, ascending=True)
df.sort_values(by='Date')
df[:9]
df.loc[:,['Employee', 'Date', 'Part Number', 'SO Number']]
df.iat[5,0]
df.iloc[:10,:8]
# df[df['Date']>'2023-07-25']
# df[df['Employee'] == 'HOUSE, CHRISTOPHER']
df[(df['Date']>'2023-07-25') & (df['Employee'] == 'HOUSE, CHRISTOPHER')]

              Employee       Date  Part Number Op Number SO Number
21  HOUSE, CHRISTOPHER 2023-07-26      W135377      010a     20220
23  HOUSE, CHRISTOPHER 2023-07-26  338-811-001       020     20396
30  HOUSE, CHRISTOPHER 2023-07-27   304855-000      020A     20368
36  HOUSE, CHRISTOPHER 2023-07-28      5C1-400       020     20235
38  HOUSE, CHRISTOPHER 2023-07-28      1017785       020     20384